@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x:hidden;
  width: 100%;
}

/* buộc trang web phải chiếm 100% không gian khả dụng và ẩn mọi chức năng cuộn ngang. */

.header {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
}

.top_up:hover {
  transform: scale(1.1);
}

.wrap-listMovie:hover .listMovies {
  display: flex;
}

.selected {
  padding-bottom: 6px;
  border-bottom: 1px red solid;
}

.darken_left {
  background-image: linear-gradient(270deg, rgba(17, 19, 25, 0) 0%, rgba(17, 19, 25, 0.05) 16%, rgba(17, 19, 25, 0.2) 30%, rgba(17, 19, 25, 0.39) 43%, rgba(17, 19, 25, 0.61) 55%, rgba(17, 19, 25, 0.8) 68%, rgba(17, 19, 25, 0.95) 82%, rgb(17, 19, 25) 98%);
}

.darken_bottom {
  background-image: linear-gradient(179deg, rgba(17, 19, 25, 0) 1%, rgba(17, 19, 25, 0.05) 17%, rgba(17, 19, 25, 0.2) 31%, rgba(17, 19, 25, 0.39) 44%, rgba(17, 19, 25, 0.61) 56%, rgba(17, 19, 25, 0.8) 69%, rgba(17, 19, 25, 0.95) 83%, rgb(17, 19, 25) 99%);
}

.banner {
  /* clip-path: inset(15% 0% 15% 0%); */
  width: calc(100% + 48px)
}

.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, transparent, #cf3f3f);
}

.wrap-banner::after {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, transparent, #141414);
}

.after::before {
  content: '';
  position: absolute;
  bottom: -10px;
  right: 10px;
  border-width: 10px;
  height: 10px;
  border-color: transparent transparent #333 transparent;
}

.arrow::after {
  content: '';
  position: absolute;
  top: -27px;
  right: 30px;
  border-width: 14px;
  height: 10px;
  border-color: transparent transparent black transparent;
} 

.category {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 2);
}

.text_big {
  font-size: clamp(10px, 5vw, 24px); /* Giá trị tối thiểu là 10px, giá trị ưa thích là 2vh, và giá trị tối đa là 20px */
}

.text_title {
  font-size: clamp(14px, 6vw, 30px); /* Giá trị tối thiểu là 10px, giá trị ưa thích là 2vh, và giá trị tối đa là 20px */
}

.text_small {
  font-size: clamp(8px, 3.5vw, 18px);
}


.button_slide {
  font-size: clamp(10px, 5vh, 30px); 
}

.paginate *  {
  color: #fff !important;
}

.ant-pagination-item-active {
  border-color: transparent !important;
}

.ant-pagination-item-active a {
  color: #333 !important;
}

.ant-select-item-option-content, .ant-select-selection-item{
  color: #333 !important;
}

.ant-select-arrow span svg{
  fill: #333 !important;
}

.ant-pagination-options-quick-jumper input {
  color: #333 !important;
}