@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
}

.wrap-listMovie:hover .listMovies {
  display: flex;
}

.selected {
  padding-bottom: 6px;
  border-bottom: 1px red solid;
}

.wrap-films {
  /* grid-template-columns: auto auto auto auto; */
}