@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x:hidden;
  width: 100%;
}

/* buộc trang web phải chiếm 100% không gian khả dụng và ẩn mọi chức năng cuộn ngang. */

.header {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
}

.wrap-listMovie:hover .listMovies {
  display: flex;
}

.selected {
  padding-bottom: 6px;
  border-bottom: 1px red solid;
}

.darken_left {
  background-image: linear-gradient(270deg, rgba(17, 19, 25, 0) 0%, rgba(17, 19, 25, 0.05) 16%, rgba(17, 19, 25, 0.2) 30%, rgba(17, 19, 25, 0.39) 43%, rgba(17, 19, 25, 0.61) 55%, rgba(17, 19, 25, 0.8) 68%, rgba(17, 19, 25, 0.95) 82%, rgb(17, 19, 25) 98%);
}

.darken_bottom {
  background-image: linear-gradient(179deg, rgba(17, 19, 25, 0) 1%, rgba(17, 19, 25, 0.05) 17%, rgba(17, 19, 25, 0.2) 31%, rgba(17, 19, 25, 0.39) 44%, rgba(17, 19, 25, 0.61) 56%, rgba(17, 19, 25, 0.8) 69%, rgba(17, 19, 25, 0.95) 83%, rgb(17, 19, 25) 99%);
}

.banner {
  clip-path: inset(15% 0% 15% 0%);
}

.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, transparent, #cf3f3f);
}

.wrap-banner::after {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 126px;
  left: 0;
  background-image: linear-gradient(180deg, transparent, #141414);
}

.paginate *  {
  color: #fff !important;
}

.ant-pagination-item-active {
  border-color: transparent !important;
}

.ant-pagination-item-active a {
  color: #333 !important;
}

.ant-select-item-option-content, .ant-select-selection-item{
  color: #333 !important;
}

.ant-select-arrow span svg{
  fill: #333 !important;
}

.ant-pagination-options-quick-jumper input {
  color: #333 !important;
}